name: Discord Notification

on:
  push:
    branches:
      - main
      - production
      - develop

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Discord Webhook Notification
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: |
          # Get commit info
          COMMIT_MSG=$(echo '${{ github.event.head_commit.message }}' | head -n 1 | sed 's/"/\\"/g')
          AUTHOR="${{ github.event.head_commit.author.username }}"
          BRANCH="${{ github.ref_name }}"
          REPO="${{ github.repository }}"
          COMMIT_URL="${{ github.event.head_commit.url }}"
          SHORT_SHA="${{ github.sha }}"
          SHORT_SHA=${SHORT_SHA:0:7}

          # Send to Discord
          curl -s -H "Content-Type: application/json" \
            -d "{
              \"username\": \"LKL Cloud\",
              \"avatar_url\": \"https://github.com/LKL-Cloud.png\",
              \"embeds\": [{
                \"title\": \":pencil: $COMMIT_MSG\",
                \"url\": \"$COMMIT_URL\",
                \"color\": 16777215,
                \"fields\": [
                  {
                    \"name\": \"Branch\",
                    \"value\": \"\`$BRANCH\`\",
                    \"inline\": true
                  },
                  {
                    \"name\": \"Commit\",
                    \"value\": \"[\`$SHORT_SHA\`]($COMMIT_URL)\",
                    \"inline\": true
                  }
                ],
                \"footer\": {
                  \"text\": \"$REPO\"
                },
                \"timestamp\": \"$(date -u +%Y-%m-%dT%H:%M:%SZ)\",
                \"author\": {
                  \"name\": \"$AUTHOR\",
                  \"icon_url\": \"https://github.com/$AUTHOR.png\"
                }
              }]
            }" \
            $DISCORD_WEBHOOK
